<center>
    <hr />
    <p style="width: 170px;">
            <img src="https://taisluwebsitebucket1.s3-us-west-2.amazonaws.com/HTML/mobilelu_logo_svg.svg" 
            width="70" height="60" alt="" style="float: left;"/>
            &copy; Tai Lu, 2019
    </p>
    
</center>