<html ang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Media Admin</title>
        <!-- jQuery needs to be placed before bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Bootstrap Start -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- Bootstrap End -->
    
    </head>
    <body>
    <div class="container">

    <!-- Nav bar Start-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Dashboard</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Sing In</a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link" href="/admin/newsForm">NewsForm</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/getNews">EditNews</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
        -->
      </ul>
    </div> 
    </nav>
    <br><br><br><br>
    <!-- Nav bar End-->

    <div class="row">
        <!--/col-6-->
        <div class="col-md-6"> 
        <div class="panel">
        <div class="panel-body">
            <center>
                <h5></h5>
                <h5>REGISTER</h5>
            </center>
             <div class="panel panel-info">
             <div class="panel-body">
                <form action="/admin/register" method="POST">
                    <div class="form-group">
                        <label for="name" >Name</label>
                        <input type="text" id="name" name="name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="password" >Password</label>
                        <input type="text" id="password" name="password" class="form-control" required />
                    </div>
                    <hr />
                    <center>
                            <button type="submit" class="btn btn-info">Register</button>
                            <button type="reset" class="btn btn-warning">RESET</button>
                    </center>
                    <hr />
                    <div class="alert alert-info" role="alert" id="msg1">
                        <%=msg%>
                    </div>
                </form>
            </div>
            </div>
        </div>
        </div>                              
        </div>
        <!--/col-6-->
        <div class="col-md-6"> 
            <div class="panel">
            <div class="panel-body">
                <center>
                    <h5></h5>
                    <h5>LOG IN</h5>
                </center>
                 <div class="panel panel-primary">
                    <div class="panel-body">
                        <form action="/admin/login" method="POST">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" class="form-control" required />
                            </div>
                            <div class="form-group">  
                                <label for="password" >Password</label>
                                <input type="password" id="password" name="password" class="form-control" required />
                            </div>
                            <hr />
                            <center>
                                    <button type="submit" class="btn btn-success">Log In</button>
                                    <button type="reset" class="btn btn-danger">RESET</button>
                            </center>
                            <hr />
                            <div class="alert alert-info" role="alert" id="msg2">
                                    <%=invalid%>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
        </div>                              
        </div>
        <!--/col-6-->
    </div>
    </div>
    <script>
        // class selector
        const message = $('.alert.alert-info')
        if ( message.length ) setTimeout( () => {message.fadeOut( 'slow' );}, 3000 );
        
    </script>
    </body>
</html>