<html ang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Media App</title>
        <!-- jQuery needs to be placed before bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Bootstrap Start -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- Bootstrap End -->
    
    </head>
    <body>
    <div class="container">

    <!-- Nav bar Start-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">MediaApp</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sports">Sports</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/about_us">About Us</a>
        </li>
        <li class="nav-item active">
                <a class="nav-link" href="/contact_us">Contact Us</a>
        </li>
      </ul>
    </div> 
    </nav>
    <br><br><br>
    <!-- Nav bar End-->
    
    <div class="row">
        <!-- col-12 -->
        <div class="col-md-12"> 
        <div class="panel">
        <div class="panel-body">
            <center>
                <h5></h5>
                <h5 style="color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;">
                  Contact Us
                </h5>
            </center>
             <div class="panel panel-info">
             <div class="panel-body">
                <form action="/addContactUs" method="POST">
                    <div class="form-group" style="box-shadow: 10px 10px 5px darkkhaki;">
                        <label for="contact_name" style="text-shadow: 1px 1px 2px gold" >Name</label>
                        <input type="text" id="contact_name" name="contact_name" class="form-control" required />
                    </div>
                    <div class="form-group" style="box-shadow: 10px 10px 5px darkkhaki;">
                        <label for="contact_email" style="text-shadow: 1px 1px 2px gold">Email</label>
                        <input type="email" id="contact_email" name="contact_email" class="form-control" required />
                    </div>
                    <div class="form-group" style="box-shadow: 10px 10px 5px darkkhaki;">
                        <label for="contact_message" style="text-shadow: 1px 1px 2px gold">Message</label>
                        <textarea rows="5" id="contact_message" name="contact_message" class="form-control" required ></textarea>
                    </div>
                    
                    <hr />
                    <center>
                            <button type="submit" class="btn btn-info">SUBMIT</button>
                            <button type="reset" class="btn btn-warning">RESET</button>
                    </center>
                    <hr />
                    <div class="alert alert-info" role="alert" id="msg1">
                        <%=msg%>
                    </div>
                </form>
            </div>
            </div>
        </div>
        </div>                              
        </div>
        <!-- col-12 -->
    </div>
    </div>
    <%- include ./partial/footer.ejs %>
    <script>
        // class selector
        const message = $('.alert.alert-info')
        if ( message.length ) setTimeout( () => {message.fadeOut( 'slow' );}, 3000 );
        
    </script>
    </body>
</html>